@using CaraEntites;
@using ViewModels;
@model CertificateMailing

@{
   List<string> suffList = new List<string>();
   suffList.Add("");
   suffList.Add("Mr.");
   suffList.Add("Mrs.");
   suffList.Add("Ms.");

   int id = Model.CertificateMailingId;
   string strHidden = (Model.CertificateMailingId == -1 ? "hidden added" : "");
   string formId = (Model.CertificateMailingId == -1 ? "FormMailingContactN" : "FormMailingContact" + Model.CertificateMailingId.ToString());
   string serialBefore = (Model.CertificateMailingId == -1 ? "_contBeforeNew" : "_contBefore" + Model.CertificateMailingId.ToString()); 
}

<script>
    function ValidateEmailAddress(email) {
        var ck_email = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);
        return ck_email.test(email);

    }//--end ValidateEmailAddress --

    function DeleteThis($btn) {
        if ($btn.data('id') == -1) {
            $(".added").addClass("hidden");
            $("#AddMailing").removeAttr("disabled");
        }
        else {
            var callbackYes = function () {
                var frmId = "FormMailingContact" + $btn.data('id');
                $("#" + frmId).attr("action", "@Url.Action("DeleteRecipient")");
                $("#" + frmId).submit();
                }
            confirmActionYesNo("Woud You like delete this Recipient?", "Delete Recipient", "Yes", "No", callbackYes, function () { })
        }
    };

    function SubmitForm($btn) {
        var frmId;
        if ($btn.data('id') != -1)
            frmId = "FormMailingContact" + $btn.data('id');
        else
            frmId = "FormMailingContactN";  //new form
        var errors = ValidateForm(frmId);
        if (errors.length == 0)
            $("#" + frmId).submit();
        else {
            DisplayErrors(errors, "Error");
        }
    }

    function ValidateForm(formId) {
        var errors = new Array();
        $("#" + formId).find("input[type!='hidden']").not('.notRequired').each(function (index) {
            var name = $(this).attr("name");
            if ($(this).val().trim() == "")
                errors.push(name + " is required");
            if (name == "Email" && $(this).val()!="") {
                if(!ValidateEmailAddress($(this).val()))
                    errors.push("Emai address is incorrect")
            }
        });
        return errors;
    }

</script>
@{
    
    <form method="get" name="FormMailingContact" id="@formId" action="@Url.Action("SaveRecipient")">

        <fieldset class="@strHidden" style="margin-top:-15px;">
            <legend></legend>
            <div class="clear"></div>
            <div style="margin-bottom: 7px;">
                <span style="margin-right: 5px;">First Name:</span>&nbsp;&nbsp;<input type="text" name="FirstName"  style="width:198px;" class="yellowBack" maxlength="95" value="@(Model.FirstName ?? "")"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="margin-right: 5px;">Last Name:</span>&nbsp;&nbsp;<input type="text" name="LastName" class="yellowBack" style="width:243px;" maxlength="95" value="@(Model.LastName ?? "")"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="Suffix" class="yellowBack">
                    @foreach (string suff in suffList)
                    {
                        <option value="@suff" @(suff==Model.Suffix ? "selected" : "")>@suff</option> 
                    }
                </select>

                <span style="margin-left: 2px;">Title:</span>&nbsp;&nbsp;<input type="text" name="Title" class="width200 yellowBack" maxlength="50" value="@(Model.Title ?? "")"/>
            </div>
            <div style="margin-bottom: 7px;">
                <span style="margin-right: 16px;">Company:</span>&nbsp;&nbsp;<input type="text" name="Company" class="width400 yellowBack" maxlength="95" value="@(Model.Company ?? "")"/>&nbsp;&nbsp;
                <span style="margin-right: 11px;">Address 1:</span>&nbsp;<input type="text" name="Address1" class="width200 yellowBack" maxlength="95" value="@(Model.Address1 ?? "")"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Address 2:</span>&nbsp;<input type="text" name="Address2" class="notRequired" style="width:200px;" maxlength="95" value="@(Model.Address2 ?? "")"/>
            </div>
            <div style="margin-bottom: 7px;">
                <span style="margin-right: 62px;">City:</span>&nbsp;<input type="text" name="City" style="width:100px;" class="yellowBack" maxlength="95" value="@(Model.City ?? "")"/>&nbsp;&nbsp;&nbsp;
                <span style="margin-right: 5px;">State:</span>&nbsp;<input type="text" name="State" style="width:20px;" maxlength="3" class="yellowBack" value="@(Model.State ?? "")"/>&nbsp;&nbsp;&nbsp;
                <span style="margin-right: 8px; margin-left: 2px;">&nbsp;Zip:</span>&nbsp;<input type="text" name="Zip" style="width:80px;" maxlength="10" class="yellowBack" value="@(Model.Zip ?? "")"/>&nbsp;&nbsp;&nbsp;
                <span style="margin-right: 5px; margin-left: 5px;">Country:</span>&nbsp;<input type="text" class="width200 notRequired" name="Country" style="maxlength="95" value="@(Model.Country ?? "")"/>&nbsp;&nbsp;&nbsp;
            </div>
            <div style="margin-bottom: 7px;">
                <span style="margin-right: 46px;">Phone:</span>&nbsp;<input type="text" name="Phone" class="width150 yellowBack" maxlength="50" value="@(Model.Phone ?? "")"/>
                <span style="margin-right: 5px; margin-left: 20px;">Fax:</span>&nbsp;<input type="text" name="Fax" class="width150 yellowBack" maxlength="50" value="@(Model.Fax ?? "")"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="margin-right: 5px;">Email:</span>&nbsp;<input type="text" name="Email" class="width200 yellowBack" maxlength="50" value="@(Model.Email ?? "")"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="true" name="Original" id="Original" @(Model.Original==true ? "checked" : "") /><label for="Original">Original</label>
                <input type="radio" value="false" name="Original" id="Copy" @(Model.Original==false ? "checked" : "") /><label for="Copy">Copy</label>
            </div>
            <input type="hidden" name="CertificateMailingId" class="certId" style="width:10px;margin-left:-100px;" value="@(Model.CertificateMailingId)"/>
            <input type="hidden" name="FilmSubmissionId" style="width:10px;margin-left:-100px;" value="@(Model.FilmSubmissionId)"/>
            <div>
                <input type="submit" class="saveButton notRequired" value="Save" style="margin-right: 20px; margin-left: 100px;" data-id="@Model.CertificateMailingId" onclick="SubmitForm($(this)); return false" /><input type="submit" data-id="@Model.CertificateMailingId" value="Delete" class="deleteRecipient notRequired" onclick="    DeleteThis($(this)); return false" />
            </div>
        </fieldset>
    </form>
}

