<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    
    <script src="@Url.Content("/Scripts/jQuery_AJAX_Custom.js")"></script>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
    <div id="footer">
            <hr class="thinLine" />
            
            <div class="leftFloat">
            <img src="@Url.Content("~/Content/Images/MPAA_logo.png")" alt="MPAA, Inc." />
            </div>
            <div class="rightFloat lineHeight4em verticalCenterText">
            THE CLASSIFICATION & RATING ADMINISTRATION
            </div>
            <div class="clear"></div>
           
        </div>
</body>
</html>
