@using CaraEntites;
@using ViewModels;
@model RegistrationViewModel

@{
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <style>
        .label
        {
            width: 100px;
            float: left;
            text-align: right;
            padding-right: 10px;
        }

        .redStar
        {
            color: red;
        }
    </style>
    <script>
        $(document).ready(function () {

            $(':text[requiredField],:password').keyup(function () {
                var txt = $(this).val().trim();
                if (txt.length == 0)
                    $(this).addClass('requiredField');
                else
                    $(this).removeClass('requiredField');

            })

            $('#Register').click(function () {

                if (ValidateForm()) {

                    document.forms[0].submit();
                }

                /*
                var email = $('#EmailAddress').val().trim();
                var ck_email = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i
                if (!ck_email.test(email)) {
                    alert('email is not correct')

                }
                */


            });//--end click --

        });//-- end ready --

        function ValidateForm() {
            var error = false;
            var requireds = $(':text[requiredField],:password');
            requireds.each(function () {
                if ($(this).val().trim().length == 0) {
                    $(this).addClass('requiredField');
                    error = true;

                }
            })

            if (error) {
                DisplayErrors('Please fill all required fields.', 'Error');
                return false;
            }

            return true;
        } //-- end ValidateForm --
    </script>
</head>
<body>
    @{if (!Model.ErrorMessage.IsEmpty())
      {
        <div class="error">@Model.ErrorMessage</div>       
      }
    }
    <form method="post" action="@(Model.User.UserId>0 ? Url.Action("UpdateProfile") : Url.Action("SubmitRegistration"))">
        <div>
            <div class="label">First Name<span class="redStar">*</span>:</div>
            @Html.TextBoxFor(m => m.User.FirstName, new { requiredField = "1" })
            Last Name<span class="redStar">*</span>:  @Html.TextBoxFor(m => m.User.LastName, new { requiredField = "1" })
        </div>
        <div>
            <div class="label">Title<span class="redStar">*</span>:</div>
            @Html.TextBoxFor(m => m.User.Title, new { requiredField = "1" })
        </div>
        <div>
            <div class="label">Company<span class="redStar">*</span>:</div>
            @Html.TextBoxFor(m => m.User.Company, new { requiredField = "1" })
        </div>
        <div>
            <div class="label">Address<span class="redStar">*</span>:</div>
            @Html.TextBoxFor(m => m.User.Address1, new { requiredField = "1" })
        </div>
        <div>
            <div class="label">&nbsp;</div>
            @Html.TextBoxFor(m => m.User.Address2, new { })
        </div>
        <div>
            <div class="label">City<span class="redStar">*</span>:</div>
            @Html.TextBoxFor(m => m.User.City, new { requiredField = "1" })
            Country<span class="redStar">*</span>: @Html.Action("Countries", "Country", new { Name = "User.CountryId", ISO = Model.User.CountryId })
        </div>
        <div>
            <div class="label">State<span class="redStar">*</span>:</div>
            @Html.Partial("_States", new CountryViewModel { Name = "User.State", ISO = Model.User.State })
            Zip Code<span class="redStar">*</span>: @Html.TextBoxFor(m => m.User.Zip, new { requiredField = "1" })
        </div>
        <div>
            @{if (Model.User.UserId > 0)
              { 
                <div class="label">Email:</div>@Model.User.EmailAddress<span>&nbsp;(Is used as UserID)</span>
              }
              else
              { 
                <div class="label">Email<span class="redStar">*</span>:</div> @Html.TextBoxFor(m => m.User.EmailAddress, new { requiredField = "1" }) <span>(Will be used as UserID)</span>
              }
            }
        </div>
        <div>
            <div class="label">Phone<span class="redStar">*</span>:</div>
            @Html.TextBoxFor(m => m.Phone, new { requiredField = "1" })
            Cell:@Html.TextBoxFor(m => m.Cell)
        </div>
        <div>
            <div class="label">Fax<span class="redStar"></span>:</div>
            @Html.TextBoxFor(m => m.Fax)
            Website:@Html.TextBoxFor(m => m.User.Website)
        </div>
        @if (Model.User.UserId <= 0)
        {
        <div>
            <div class="label">Password<span class="redStar">*</span>:</div>
            @Html.PasswordFor(m => m.User.Password, new { requiredField = "1" })
            Confirm Password<span class="redStar">*</span>:
            <input type="password"  requiredField = "1" id="ConfirmPassword"/>
        </div>
        }
        <div class="clear">
            <input type="button" value="@(Model.User.UserId > 0 ? "Update" : "Register")" id="Register" />
        </div>

    </form>

</body>

</html>
